@page
@model MusicFest.PL.Pages.PrivacyModel
@using System.Collections.Immutable
@using MusicFest.DAL.Data
@using MusicFest.DAL.Models
@using MusicFest.DAL.Repositories
@using MusicFest.DAL.Repositories
@{
    ViewData["Title"] = "Groups Playing";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-4">
    <h1 class="mb-4">Groups</h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Group Name</th>
            <th>Member Count</th>
            <th>Group's Main Song</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var group in GroupRepository._context.Groups)
        {
            <tr>
                <td>@group.Id</td>
                <td>@group.Name</td>
                <td>@group.NumberOfMusicians</td>
                <td>@group.Song</td>
            </tr>
        }
        </tbody>
    </table>
</div>